.contact-container {
    overflow: hidden;
}

.main-section h1 {
    font-family: "roboto mono", monospace;
    color: white;
    margin: 8px;
}

iframe {
    float: left;
    margin: 8px;
}

form {
    display: inline-block;
    height: 450px;
}

.field {
    margin: 8px;
}

input, textarea {
    width: 595px;
    margin-bottom: 5px;
    font-family: "roboto", monospace;
    font-size: 18px;
}

input {
    height: 30px;
    border: 1px groove black;
}

#submit-button {
    text-align: center;
}

button {
    background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.5s;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #008CBA;
}

.main-section {
    background-image: url("/img/seoul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 606px;
}

@media screen and (max-width: 600px) {
    input, iframe {
        width: 90%;
    }
    textarea {
        width: 91%;
    }
    .field-wrapper .field {
        text-align: center;
    }
}